{{# partial "titulo" }}	
	
<title>Cuentas</title>

{{/partial}}
	

{{#partial "contenido"}}
{{#with cuentas}}
	<h1>Valores:</h1>
	<table class="table table-stripped">
	<tr>
	   <th>Empresa</th>
           <th>Cuenta</th>
	   <th>Fecha</th>
           <th>Valor</th>
	</tr>
	
	{{#each cuentas}}
	<tr>
	   <td>{{nombreEmpresa}}</td>
           <td>{{nombreCuenta}}</td>
	   <td>{{fecha}}</td>
	   <td>{{valor}}</td>	
	</tr>
	{{/each}}
	</table>

{{/with}}

			
{{/partial}}
{{>layout.hbs}}