{{# partial "titulo" }}	
	<title>Cargar archivo de cuentas</title>
{{/partial}}

{{#partial "contenido"}}	
<div class="panel panel-default">
	<div class="panel-heading">Empresa &gt; <b>Subir archivo</b></div>
  	<div class="panel-body">
  		<form action="/DondeInvierto/cuentas/upload" method="POST" enctype="multipart/form-data" class="form-inline" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
	    	<div class="form-group" style="margin-right: 20px;">
	    		<input type="file" id="archivo" name="archivo">
	    	</div>
	    	<button type="submit" class="btn btn-primary">Procesar</button>
	    </form>
	</div>
</div>
{{/partial}}

{{>common/layout.hbs}}