<html>
<head>
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet"  href="estilo.css">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"href="/">Inicio</a>
      </div>
    </div>
  </nav>
</head>

<body>
  <div class="contenedor">
    <div class="header">
      <div class="rowHeader">
        <div class="columnHeader ">
  	{{#block "titulo"}}
	{{/block}}
        </div>
		{{#block "acciones"}}
		{{/block}}
      </div>
    </div>

   <div class="row">
      <div class="column side2">

      </div>
      <div class="column middle2">
    	   <div class="container">
		{{#block "contenido"}}
		{{/block}}
           </div>
      </div>
      <div class="column side2">
      </div>
   </div>
  </div>
</body>

<footer class="footer">
    <p>
      &copy; 2017 dondeInvierto.com
    </p>
</footer>

</html>