<html>
<head>
	{{#block "titulo"}}{{/block}}
	<link rel="stylesheet"  href="../css/libs/bootstrap.min.css">
  	<link rel="stylesheet"  href="../css/style.css">
  	{{#block "header"}}{{/block}}
</head>
<body>
<nav id="barra-navegacion" class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"href="/home">Donde Invierto</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/cuentas">Cuentas</a></li>
          <li><a href="/cuentas/upload">Cargar cuentas</a></li>
        </ul>
      </li>
         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Indicadores
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/indicadores/nuevo">ABM Indicador</a></li>
          <li><a href="/indicadores">Ejecutar Indicador</a></li>
        </ul>
      </li>
          <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metodologias
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/metodologias">Ejecutar Metodologia</a></li>
        </ul>
      </li>
        </ul>
        
         <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{usuario.nombre}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
      </div>
    </div>
  </nav>

<div class="container">
	{{#if messageSuccess}}
		<div class="alert alert-success">
			{{messageSuccess}}
		</div>
	{{/if}}
	{{#if messageError}}
		<div class="alert alert-danger">
		  {{messageError}}
		</div>
	{{/if}}
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      &copy; 2017 DondeInvierto.com
    </p>
</footer>

<script type="text/javascript" src="../js/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/libs/bootstrap.min.js"></script>
{{#block "footer"}}{{/block}}
</body>
</html>