{{#partial "contenido"}}
<div class="panel panel-default">
	<div class="panel-heading">Indicador &gt; <b>Agregar Indicador</b></div>
  	<div class="panel-body">
  		<form action="/DDSTpAnual/indicadores/crear" method="POST" class="form-inline">
  			<div class="form-group" style="margin-right: 20px;">
	    		<input type="text" class="form-control" placeholder="Nombre del indicador" name="nombre">
	  		</div>
	  		<div class="form-group" style="margin-right: 20px;">
	    		<input type="text" class="form-control" placeholder="Formula del indicador" name="formula">
	  		</div>
	  		<button type="submit" class="btn btn-success">Guardar</button>
	   </form>
	</div>
</div>	

{{#with indicadores}}
	<div class="panel panel-default">
  		<div class="panel-body">
			<table class="table table-condensed">
				<thead>
					<tr>
			   			<th>Indicador</th>
			   			<th>Formula</th>
					</tr>
				</thead>
				<tbody>
					{{#each indicadores}}
						<tr>
					   		<td>{{nombre}}</td>
					   		<td>{{formula}}</td>
						</tr>
					{{/each}}
				</tbody>	
			</table>
		</div>
	</div>
{{/with}}

{{/partial}}

{{>common/layout.hbs}}