{{# partial "titulo" }}	
	
<title>Metodologias</title>

{{/partial}}
	

{{#partial "contenido"}}

<div class="panel panel-default">
	<div class="panel-heading">Metodologia &gt; <b>Ejecutar Metodologia</b></div>
  	<div class="panel-body">
		<form action="/metodologias/ejecutar" method= "GET" class="form-inline">
			<div class="form-group" style="margin-right: 20px;">
	    		<select class="form-control" name="metodologiaSeleccionada" placeholder="Metodologia">
    				{{#with metodologias}}
			    		{{#each metodologias}}
			 				<option>{{nombre}}</option>
			  			{{/each}}
					{{/with}}
	    		</select>
	  		</div>
	  		<div class="form-group" style="margin-right: 20px;">
	  			<select class="form-control" name="periodoSeleccionado">
		  			{{#each periodos}}
		 				<option>{{fecha}}</option>
		  			{{/each}}
	  			</select>
	  		</div>
	  		<button type="submit" class="btn btn-success">Ejecutar</button>
		</form>
	</div>
</div>	
{{#with empresas}}
	<div class="panel panel-default">
  		<div class="panel-body">
			<table class="table table-condensed">
				<thead>
					<tr>
			   			<th>Identificador</th>
				   		<th>Empresa</th>
					</tr>
				</thead>
				<tbody>
					{{#each empresas}}
						<tr>
						   	<td>{{id}}</td>
					   		<td>{{nombre}}</td>
						</tr>
					{{/each}}
				</tbody>	
			</table>
		</div>
	</div>
{{/with}}

{{/partial}}
{{>layout.hbs}}