{{#partial "contenido"}}
	
   <form action="/metodologias" method="POST">
		
     <div class="row">

        <div class="col-md-2">

	   <label for="nombre">Nombre</label>
        </div>

        <div class="col-md-2">

	   <input type="text" placeholder="Nombre de la metodologia" name="nombre">
        </div>
    </div>

     <div class="row">

        <div class="col-md-2">
	
          <label for="filtros"> Filtros </label>
        </div> 
        <div class="col-md-2">

	  {{#with filtros}}
             <select class="form-control" name="filtro" placeholder="seleccionar filtro">
	
                 {{#each filtros}}  	
                    <option >{{nombre}}</option>
		
                {{/each}}
             </select>
          {{/with}}
       </div> 
        <input type="number" placeholder="valor" name="valor" {{id}}>
    </div> 


    <div class="row">

         <div class="col-md-2">
	
           <label for="indicador"> Indicador </label>
         </div>
         <div class="col-md-2">
	
	    {{#with indicadores}}
                <select class="form-control" name="indicador" placeholder="seleccionar indicador">
	
                  {{#each indicadores}}  	
                      <option >{{nombre}}</option>
		
                  {{/each}}
                </select>
            {{/with}}
         </div>       
    </div> 
    <div class="row">

       <div class="col-md-2">
	
          <button type="button" class="btn btn-info"  href="/metodologias/crear">Agregar</button>      
       </div>
    </div>
	

    <div class="row">

         <div class="col-md-2">
			
            <label for="ordenes">Ordenes</label>		
         </div>					
         <div class="col-md-2"> 							
          <select class="form-control" name="orden">
	
           <option>Ascendente</option>
							
           <option>Descendente</option>
		
	  </select>
				
 	 </div>
	
    </div>


         <div class="col-md-2">

            <button type="submit" class="btn btn-success btn-lg">Guardar</button>		
	</div>
	
    
   </form>
{{/partial}}

{{>layout.hbs}}