{{#partial "contenido"}}

<div class="contenedor">
	<div class="col-md-12">
    	<div class="Jumbotron tituloDescripcion">
      		<h1>Donde Invierto</h1>
      		<p>
      		Esta herramienta esta pensada para dar soporte a pequeños inversores.
       		Recopile toda la informacion relevante a su negocio en un solo lugar. 
       		Acceda a sus datos en linea desde cualquier computadora.
      		</p>
    	</div>
   </div>  
   <div class="col-md-12">
   		<div class="panel panel-default panelMenu col-md-4" id="cuentas">
      		<div class="panel-heading">Cuentas</div>
      		<div class="panel-body">
      			<div>
      				<img class="img-responsive" src="images/cuentas.jpg" alt="cuentas">
      			</div>
        		<div>
           			<p>
           			Todos sus datos historicos en un solo lugar.
           			Mantenga los valores de las cuentas mas importantes de cada empresa para obtener analisis precisos.
           			</p>
         		</div>
         	</div>
    	</div>
    	<div class="panel panel-default panelMenu col-md-4" id="metodologias">
      		<div class="panel-heading">Metodologias</div>
      		<div class="panel-body">
      			<div>
      				<img class="img-responsive" src="images/metodologias.jpg" alt="metodologias">
      			</div>
        		<div>
           			<p>
           			Analice y compare distintas empresas utilizando decenas de metodologias de inversion.
          			Personalice sus analisis creando metodologias a medida.
           			</p>
         		</div>
         	</div>
    	</div>
    	<div class="panel panel-default panelMenu col-md-4" id="indicadores">
      		<div class="panel-heading">Indicadores</div>
      		<div class="panel-body">
      			<div>
      				<img class="img-responsive" src="images/indicadores.jpg" alt="indicadores">
      			</div>	
        		<div>
           			<p>
           			Cree sus propios indicadores para analisis mas precisos.
          			Configure formulas complejas combinando cuentas e indicadores en segundos.
           			</p>
         		</div>
         	</div>
    	</div>
	</div>
</div>

{{/partial}}

{{>layout.hbs}}

<script type="text/javascript" src="js/home.js"></script>